<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
.w3-third img:hover{opacity: 1}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
  <a href="#tableau" onclick="w3_close()" class="w3-bar-item w3-button">Tableau de board</a> 
  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">Compte</a> 
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">Remboursements</a> 
  <a href="#fiscalite" onclick="w3_close()" class="w3-bar-item w3-button">Fiscalite</a>
</nav>
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<div class="w3-main" style="margin-left:300px">
  <div class="w3-hide-large" style="margin-top:83px"></div>
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>
<h3>Bonjour Mathieu ! Bionvenue sur votre tableau de bord</h3>
<div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="tableau">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Reparitation de vorte actif</h4>
                        </div>
                        <div class="content">
                            <div id="piechart"></div>

                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

                            <script type="text/javascript">
                               google.charts.load('current', {'packages':['corechart']});
                            google.charts.setOnLoadCallback(drawChart);
                            function drawChart() {
                              var options = {'title':'Actif Total:5$', 'width':350, 'height':200};
                              var data = google.visualization.arrayToDataTable([
                              ['Task', 'Hours per Day'],
                              ['Capital disponible', 4],
                              ['Emcours', 1],
                              ['Capital indisponible', 0]
                            ]);
                              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                              chart.draw(data, options);
                            }
                            </script>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Vos Contribution</h4>
                        </div>
                        <table class="table-fill">
                        <tbody class="table-hover">
                        <tr>
                        <td class="text-left">Encours</td>
                        <td class="text-left">$ 50</td>
                        </tr>
                        <tr>
                        <td class="text-left">Reternues</td>
                        <td class="text-left">$ 10</td>
                        </tr>
                        <tr>
                        <td class="text-left">En cours</td>
                        <td class="text-left">$ 85,000.00</td>
                        </tr>
                        <tr>
                        <td class="text-left">Montant meyen</td>
                        <td class="text-left">$ 56,000.00</td>
                        </tr>
                        <tr>
                        <td class="text-left">Taux moyen</td>
                        <td class="text-left">$ 98,000.00</td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Performance</h4>
                        </div>
                        <table class="table-fill">
                        <tbody class="table-hover">
                        <tr>
                        <td class="text-left">Nombre de prets</td>
                        <td class="text-left">$ 50,000.00</td>
                        </tr>
                        <tr>
                        <td class="text-left">Montant prete</td>
                        <td class="text-left">$ 10,000.00</td>
                        </tr>
                        <tr>
                        <td class="text-left">Gains</td>
                        <td class="text-left">$ 85,000.00</td>
                        </tr>
                        <tr>
                        <td class="text-left">Rendement</td>
                        <td class="text-left">$ 56,000.00</td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
</div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
  <!-- About section -->
  <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about">
    <h4><b>About Me</b></h4>
    <img src="/w3images/avatar_hat.jpg" alt="Me" class="w3-image w3-padding-32" width="600" height="650">
    <div class="w3-content w3-justify" style="max-width:600px">
      <h4>My Name</h4>
      <p>Some text about me. I love taking photos of PEOPLE. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p>mail: example@example.com</p>
      <p>tel: 5353 35531</p>
      <hr class="w3-opacity">
      <h4 class="w3-padding-16">Technical Skills</h4>
      <p class="w3-wide">Photography</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:95%">95%</div>
      </div>
      <p class="w3-wide">Web Design</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:85%">85%</div>
      </div>
      <p class="w3-wide">Photoshop</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:80%">80%</div>
      </div>
      <p><button class="w3-button w3-light-grey w3-padding-large w3-margin-top w3-margin-bottom">Download Resume</button></p>
      <hr class="w3-opacity">

      <h4 class="w3-padding-16">How much I charge</h4>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
            <li class="w3-padding-16">Web Design</li>
            <li class="w3-padding-16">Photography</li>
            <li class="w3-padding-16">5GB Storage</li>
            <li class="w3-padding-16">Mail Support</li>
            <li class="w3-padding-16">
              <h2>$ 10</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-light-grey w3-padding-24">
              <button class="w3-button w3-white w3-padding-large">Sign Up</button>
            </li>
          </ul>
        </div>
        
        <div class="w3-half">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-black w3-xlarge w3-padding-32">Pro</li>
            <li class="w3-padding-16">Web Design</li>
            <li class="w3-padding-16">Photography</li>
            <li class="w3-padding-16">50GB Storage</li>
            <li class="w3-padding-16">Endless Support</li>
            <li class="w3-padding-16">
              <h2>$ 25</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-light-grey w3-padding-24">
              <button class="w3-button w3-white w3-padding-large">Sign Up</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact section -->
  <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="fiscalite">
    <div class="w3-content" style="max-width:600px">
        <table>
          <caption>Camping Costs</caption>
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tent</td>
              <td>1</td>
              <td>$279.00</td>
              <td>$279.00</td>
              <td></td>
            </tr>
            <tr>
              <td>Sleeping Bags</td>
              <td>2</td>
              <td>$159.95</td>
              <td>$319.90</td>
              <td></td>
            </tr>
            <tr>
              <td>Camp Chairs</td>
              <td>2</td>
              <td>$39.50</td>
              <td>$79.00</td>
              <td></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4">Grand Total</th>
              <th>$667.90</th>
            </tr>
          </tfoot>
        </table>
    </div>
  </div>


<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>


</body>
</html>